.mypic{
    width: 230px;
    height: auto;
    border-radius: 50%;
    border-style:groove ;
    border-color: black;
    margin-top: 25px;
    margin-left: 535px;
}
.description{
    text-align: center;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.note{
    padding: 5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.table td, .table th{
    background-color: transparent;
}
.table{
    margin-left: 60px;
}
.edu , .pers{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    border-bottom: 5px black ;
    border-bottom-style: double;
}

